In [1]:
import os
import pandas as pd
#from sqlalchemy import create_engine
#from config import db_password
#import time

# Loading files

DR12_df = pd.read_csv("../Resources/sdss_dr12.csv")
DR14_df = pd.read_csv("../Resources/sdss_dr14.csv")
DR16_df = pd.read_csv("../Resources/sdss_dr16.csv")
#DR16_plus_df = pd.read_csv("../Resources/sdss_dr16_Plus.csv")

In [2]:
DR12_df.head()

,objid_,ra_,dec_,u_,g_,r_,i_,z_,run_,rerun_,camcol_,field_,specobjid_,class_,redshift_,plate_,mjd_,fiberid_
0,1237663228535374206,300.841762,76.511282,19.19619,17.83329,17.52225,17.40237,17.35182,4134,301,1,106,1869067566828251136,STAR,-0.000220,1660,53230,268
1,1237663228535374382,300.730508,76.551731,21.65541,19.13715,17.92577,17.44741,17.15818,4134,301,1,106,1869069216095692800,STAR,-0.000008,1660,53230,274
2,1237663228535374435,300.871382,76.530570,20.70867,19.20954,18.55966,18.24395,18.10117,4134,301,1,106,1869067291950344192,STAR,0.000096,1660,53230,267
3,1237663228535374802,300.317409,76.374746,22.88806,21.20900,19.90560,19.33555,19.08966,4134,301,1,106,1870200338850539520,STAR,-0.000247,1661,53240,293
4,1237663228535439577,301.252332,76.319520,17.82932,16.11081,15.39808,15.13612,15.00507,4134,301,1,107,1869072789508483072,STAR,-0.000131,1660,53230,287

In [3]:
dfs_arr = [DR12_df, DR14_df, DR16_df]

for df in dfs_arr:
    df = df.set_index(['objid_'])
    print("ran")

ran
ran
ran

In [4]:
three_dfs = [DR12_df, DR14_df, DR16_df]
DR_df = pd.concat(three_dfs)
DR_df

,objid_,ra_,dec_,u_,g_,r_,i_,z_,run_,rerun_,camcol_,field_,specobjid_,class_,redshift_,plate_,mjd_,fiberid_
0,1237663228535374206,300.841762,76.511282,19.19619,17.83329,17.52225,17.40237,17.35182,4134,301,1,106,1869067566828251136,STAR,-0.000220,1660,53230,268
1,1237663228535374382,300.730508,76.551731,21.65541,19.13715,17.92577,17.44741,17.15818,4134,301,1,106,1869069216095692800,STAR,-0.000008,1660,53230,274
2,1237663228535374435,300.871382,76.530570,20.70867,19.20954,18.55966,18.24395,18.10117,4134,301,1,106,1869067291950344192,STAR,0.000096,1660,53230,267
3,1237663228535374802,300.317409,76.374746,22.88806,21.20900,19.90560,19.33555,19.08966,4134,301,1,106,1870200338850539520,STAR,-0.000247,1661,53240,293
4,1237663228535439577,301.252332,76.319520,17.82932,16.11081,15.39808,15.13612,15.00507,4134,301,1,107,1869072789508483072,STAR,-0.000131,1660,53230,287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108061,1237671970400764617,292.748720,62.459383,19.61078,18.67526,18.39826,18.28475,18.29667,6169,301,4,50,2885710951238100992,STAR,-0.000643,2563,54653,107
108062,1237671969863632078,291.247593,62.445696,21.86742,20.63416,20.06803,19.95892,19.81158,6169,301,3,46,2885735690249725952,STAR,-0.000779,2563,54653,197
108063,1237671969863762203,291.830879,62.155180,19.69242,18.78480,18.43634,18.33039,18.33893,6169,301,3,48,2885721671476471808,STAR,-0.000440,2563,54653,146
108064,1237671971474637760,294.167292,63.102259,21.38609,20.04528,19.47828,19.28330,19.19040,6169,301,6,52,2885842067999713280,STAR,-0.000412,2563,54653,584
108065,1237671971474638086,294.009865,63.236378,22.05967,20.73937,20.22799,20.03101,19.92140,6169,301,6,52,2885850039459014656,STAR,-0.000404,2563,54653,613

In [5]:
DR_df = DR_df.dropna(axis='rows')
DR_df

,objid_,ra_,dec_,u_,g_,r_,i_,z_,run_,rerun_,camcol_,field_,specobjid_,class_,redshift_,plate_,mjd_,fiberid_
0,1237663228535374206,300.841762,76.511282,19.19619,17.83329,17.52225,17.40237,17.35182,4134,301,1,106,1869067566828251136,STAR,-0.000220,1660,53230,268
1,1237663228535374382,300.730508,76.551731,21.65541,19.13715,17.92577,17.44741,17.15818,4134,301,1,106,1869069216095692800,STAR,-0.000008,1660,53230,274
2,1237663228535374435,300.871382,76.530570,20.70867,19.20954,18.55966,18.24395,18.10117,4134,301,1,106,1869067291950344192,STAR,0.000096,1660,53230,267
3,1237663228535374802,300.317409,76.374746,22.88806,21.20900,19.90560,19.33555,19.08966,4134,301,1,106,1870200338850539520,STAR,-0.000247,1661,53240,293
4,1237663228535439577,301.252332,76.319520,17.82932,16.11081,15.39808,15.13612,15.00507,4134,301,1,107,1869072789508483072,STAR,-0.000131,1660,53230,287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108061,1237671970400764617,292.748720,62.459383,19.61078,18.67526,18.39826,18.28475,18.29667,6169,301,4,50,2885710951238100992,STAR,-0.000643,2563,54653,107
108062,1237671969863632078,291.247593,62.445696,21.86742,20.63416,20.06803,19.95892,19.81158,6169,301,3,46,2885735690249725952,STAR,-0.000779,2563,54653,197
108063,1237671969863762203,291.830879,62.155180,19.69242,18.78480,18.43634,18.33039,18.33893,6169,301,3,48,2885721671476471808,STAR,-0.000440,2563,54653,146
108064,1237671971474637760,294.167292,63.102259,21.38609,20.04528,19.47828,19.28330,19.19040,6169,301,6,52,2885842067999713280,STAR,-0.000412,2563,54653,584
108065,1237671971474638086,294.009865,63.236378,22.05967,20.73937,20.22799,20.03101,19.92140,6169,301,6,52,2885850039459014656,STAR,-0.000404,2563,54653,613

In [6]:
path = "../Resources"
DR_df.to_csv(os.path.join(path,r'DR_complete.csv'))

In [7]:
# Start SQL Engine
#db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/DR_complete_NASA"
#engine = create_engine(db_string)


#path = "../Resources/DR_complete.csv"

#rows_imported = 0
# get the start_time from time.time()
#start_time = time.time()

#for data in pd.read_csv(path, chunksize=1000000):
#    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
#    data.to_sql(name='DR_complete_NASA', con=engine, if_exists='append')
#    rows_imported += len(data)

    # add elapsed time to final print out
#    print(f'Done. {time.time() - start_time} total seconds elapsed')

IndentationError: unexpected indent (<ipython-input-7-fd5bc83e2d76>, line 13)